<div class="panel panel-default">
    <div class="panel-heading">アプリの説明ーSystem Explained</div>
    <div class="panel-body">
      <p>
      CRUDの画面とControllerの機能を作成しました。
      DDDのコンセプト少し利用しました。よく見たら「lib」のフォルダにシステム的なコーディングが含まれています。
      RubyコミュニティーはよくTDDのアプローチを利用しますが今回はこの小さなプロジェクトで使用しませんでした。
      Salesforceオブジェクトをもっと簡単にシステムに結合できるようにモジュール「SalesforceProtocol」を作りました。それともデータベースを追加したい時、
      コーディングをあんまり触れずに簡単にできます。

      このアプリを楽しんで下さい！
      </p>
      <p>
      I have implemented the pages and included the CRUD required functions.
      You will notice that I tried to follow more of the DDD concept.
      I know that the ruby community is more inclined to follow TDD approach, but for this small
      project I decided to ignore it. I have also built a module which will allow alot of flexibility in implementing
      salesforce object more easily into the system. It just a matter of adding the SalesforceProtocol class to the new model object.
      Also adding a database will be very simple it will just be like adding an extra service to the app.

      I hope that this little app pleases you!
      </p>
    </div>
</div>
